[project]
name = "{{ project_name }}"
version = "0.1.0"
description = ""
requires-python = ">=3.13"
dependencies = [
    "fastapi[standard]",
    "pydantic-settings",
    "python-dotenv",
{% if database == "postgresql" %}
    "psycopg2-binary",
    "sqlmodel",
    "alembic",
{% elif database == "sqlite" %}
    "sqlmodel",
    "alembic",
{% endif %}
]

[dependency-groups]
dev = [
    "pytest",
    "pytest-asyncio",
    "httpx",
    "ruff",
{% if setup_type == "advanced" %}
    "pre-commit",
{% endif %}
{% if use_locust %}
    "locust",
{% endif %}
]

[tool.pytest.ini_options]
asyncio_mode = "auto"

[tool.ruff]
line-length = 88

[tool.ruff.lint]
select = ["E", "F", "I"]
